@media screen and (max-width: 1300px) {
    .hr-graphicdesign {
        left: 12%;
    }
    .titre-pages {
        font-size: 5vw;
    }
    .hr-myuniverse {
        margin-top: 125%;
    }
}

@media screen and (max-width: 850px) {
    .menu__item-link {
        -webkit-text-stroke: 0.5px #000;
    }
    .titre-pages {
        margin: 0px;
    }
    .retour {
        font-size: 3vw;
    }
    .marquee {
        width: 102%;
    }
    .room {
        width: 80%;
    }
    h2 {
        font-size: 14vw;
        bottom: 35%;
    }
    .discovermyuniverse {
        font-size: 15vw;
        bottom: 34%;
    }
    #del1 {
        top: 22vh;
        left: 6vw;
    }
    #del2 {
        top: 22vh;
        left: 62vw;
    }
    #del3 {
        top: 18vh;
        left: 30vw;
    }
}

@media screen and (max-width: 576px) {
    .titre-pages {
        font-size: 11vw;
        writing-mode: horizontal-tb;
    }
    hr.hr-vertical {
        display: none;
    }
    .menu__item-link::before {
        font-size: 2vw;
    }
    .menu__item-link,
    .marquee span {
        padding: 0 2vw;
    }
    .discovermyuniverse {
        bottom: 30%;
    }
    /* ----------------------------------------myuniverse */
    #del1 {
        top: 17vh;
        left: 7vw;
    }
    #del2 {
        top: 18vh;
        left: 62vw;
    }
    #del3 {
        top: 16vh;
        left: 33vw;
    }
    .heyo {
        font-size: 10vw;
    }
    .mytext {
        font-size: 6vw;
    }
    .liste {
        font-size: 4vw;
    }
}