*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    font-size: 15px;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}

@font-face {
    font-family: 'tropilineblack';
    src: url('../fonts/tropiline-black-webfont.woff2') format('woff2'), url('../fonts/tropiline-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tropiline_boldbold';
    src: url('../fonts/tropiline-bold-webfont.woff2') format('woff2'), url('../fonts/tropiline-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tropilineregular';
    src: url('../fonts/tropiline-regular-webfont.woff2') format('woff2'), url('../fonts/tropiline-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1,
h2,
h3,
h4 {
    font-family: 'tropiline_boldbold';
}

h2,
h3,
h4 {
    font-size: 11vw;
    text-align: center;
    position: absolute;
    z-index: 1;
    margin: auto;
    color: rgb(255, 255, 255);
    mix-blend-mode: difference;
    margin-top: 50px;
    line-height: 86%;
}

.discovermyuniverse {
    bottom: 25%;
}

.whoiam {
    left: 26%;
    font-weight: 700;
    top: 10vw;
}

.gallery3d {
    top: 10vh;
    font-weight: 700;
    left: 3%;
}

.textaligncenter {
    text-align: center;
}

.text-whoiam {
    margin-top: 60vw;
    color: black;
}

.heyo {
    font-size: 6vw;
    font-family: 'tropilineblack';
}

.mytext {
    font-size: 3vw;
    line-height: 1;
    font-family: 'tropilineregular';
}


/* 
------------------------------------------------myuniverseparallaxphotos  */

.delayed-section {
    position: absolute;
    width: 35vw;
    height: 38.87vw;
}

.delayed-section .inner-container {
    will-change: transform;
}

.delayed-section img {
    max-width: 100%;
    will-change: transform;
}

#del1 {
    top: 25vh;
    left: 7vw;
}

#del2 {
    top: 40vh;
    left: 60vw;
}

#del3 {
    top: 35vh;
    left: 28vw;
}


/* ------------------------------------------------myuniverseparallaxphotos */

.amelie {
    width: 50%;
    margin: auto;
}

.room {
    width: 50%;
    margin: auto;
    padding-top: 100px;
}

.thumbail {
    transform: translate3d(0px, 19px, 0px) scale(1) !important;
}

#gravite {
    height: 55vh;
    max-height: 650px;
}

.aligncenter {
    align-items: center;
}

.paddingtop {
    padding-top: 15px;
}

.hrhorizontal {
    background: #1a0000 no-repeat;
    /* width: 350px; */
    height: 1px;
    border: none;
}

.titre-pages {
    font-size: 2vw;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

hr.hr-vertical {
    height: 100%;
}

.img100 {
    width: 100%;
}

.hr-vertical {
    border-left: 1px solid rgb(0, 0, 0);
    position: absolute;
    left: 6%;
    top: 0;
}

.retour {
    font-size: 1.5vw;
    font-family: 'tropiline_boldbold';
}

.flex {
    display: flex;
}

.img {
    padding-left: 90px;
}

.width {
    width: 50%;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(32, 32, 32, 0.192);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(233, 0, 202, 0.4);
}


/* Grainy texture animation by Geoff Graham https://css-tricks.com/snippets/css/animated-grainy-texture/ */


/* 
main::before {
    animation: grain 8s steps(10) infinite;
    margin-top: -5px;
    background-image: url(../img/noise.png);
    content: '';
    height: 300%;
    left: -50%;
    opacity: 0.05;
    position: fixed;
    width: 300%;
} */


/* @keyframes grain {
    0%,
    100% {
        transform: translate(1, -10);
    }
    10% {
        transform: translate(-1%, -20%);
    }
    20% {
        transform: translate(1%, -1%);
    }
    30% {
        transform: translate(-1%, -20%);
    }
    40% {
        transform: translate(1%, -1%);
    }
    50% {
        transform: translate(-1%, -15%);
    }
    60% {
        transform: translate(1%, -1%);
    }
    70% {
        transform: translate(-1%, -20%);
    }
    80% {
        transform: translate(1%, -1%);
    }
    90% {
        transform: translate(-1%, -20%);
    }
} */

a {
    cursor: pointer;
    text-decoration: none;
    color: var(--color-link);
    outline: none;
}

a:hover,
a:focus {
    color: var(--color-link-hover);
    outline: none;
}

.frame {
    position: fixed;
    z-index: 1;
    padding: 3rem 5vw;
    text-align: center;
    position: relative;
    line-height: 1;
    flex-flow: row wrap;
    font-size: 21px;
}

.frame__title {
    font-size: 15px;
    margin: 0 0 1rem;
    font-weight: 700;
}

.frame__amelie {
    font-family: 'tropilineregular';
    font-size: 15px;
    margin: 0 0 1rem;
    font-weight: 300;
    padding-left: 18px;
}

.frame__links {
    display: inline;
}

.frame__links a:not(:last-child),
.frame__demos a:not(:last-child) {
    margin-right: 1rem;
}

.frame__demos {
    margin: 1rem 0;
}

.menu {
    font-weight: 800;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    --marquee-width: 100vw;
    --offset: 20vw;
    --move-initial: calc(-25% + var(--offset));
    --move-final: calc(-50% + var(--offset));
    --item-font-size: 10vw;
    counter-reset: menu;
}

.menu-pages {
    --item-font-size: 6vw;
    padding: 80px 0px 0px 3%;
}

.menu__item {
    cursor: default;
    position: relative;
    padding: 0 5vw;
}

.menu__item_pagesinternes {
    cursor: default;
    position: relative;
}

.menu__item :hover {
    cursor: default;
    position: relative;
    padding: 0 5vw;
    cursor: pointer;
}

.menu__item-link {
    display: inline-block;
    cursor: pointer;
    position: relative;
    -webkit-text-stroke: 1.5px #000;
    -webkit-text-fill-color: transparent;
    color: transparent;
    transition: opacity 0.4s;
}

.menu__item-link::before {
    all: initial;
    font-family: montserrat;
    font-weight: 300;
    counter-increment: menu;
    content: counter(menu);
    position: absolute;
    bottom: 60%;
    left: 0;
    pointer-events: none;
}

.menu__item-link:hover {
    transition-duration: 0.1s;
    opacity: 0;
}

.menu__item-img {
    pointer-events: none;
    position: absolute;
    height: 50vh;
    max-height: 400px;
    opacity: 0;
    left: 100%;
    top: 50%;
    transform: translate3d(calc(-100% - 6vw), -30%, 0) translate3d(0, 20px, 0);
}

.menu__item-link:hover+.menu__item-img {
    opacity: 1;
    transform: translate3d(calc(-100% - 6vw), -30%, 0) rotate3d(0, 0, 1, 4deg);
    transition: all 0.4s;
    /* z-index: 9999999; */
}


/* Make sure 3 items are visible in the viewport by setting suitable font size. */

.marquee {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--marquee-width);
    overflow: hidden;
    pointer-events: none;
}

.marquee__inner {
    color: black;
    mix-blend-mode: soft-light;
    width: fit-content;
    display: flex;
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee 5s linear infinite;
    animation-play-state: paused;
    opacity: 0;
    transition: opacity 0.1s;
}

.menu__item-link:hover~.marquee .marquee__inner {
    animation-play-state: running;
    opacity: 1;
    transition-duration: 0.4s;
}

.marquee span {
    text-align: center;
}

.menu__item-link,
.marquee span {
    white-space: nowrap;
    font-size: var(--item-font-size);
    padding: 0 1vw;
    font-weight: 900;
    line-height: 1.25;
}

@keyframes marquee {
    0% {
        transform: translate3d(var(--move-initial), 0, 0);
    }
    100% {
        transform: translate3d(var(--move-final), 0, 0);
    }
}

@media screen and (min-width: 53em) {
    .frame {
        text-align: left;
        display: flex;
        justify-content: space-between;
        align-content: space-between;
        width: 100%;
        padding: 2.5rem 6vw 0.5rem;
        pointer-events: none;
    }
    .frame__title-wrap {
        justify-content: space-between;
        display: flex;
        align-items: start;
    }
    .frame__info {
        margin: 0;
    }
    .frame__title {
        margin: 0 1rem 0 0;
    }
    .frame__links {
        padding: 0;
        justify-self: end;
    }
    .frame a {
        pointer-events: auto;
    }
}


/* GES INTERNES PA */

#scroll_to_top {
    position: fixed;
    width: 25px;
    height: 25px;
    bottom: 50px;
    right: 30px;
}

#scroll_to_top img {
    width: 25px;
}

.shadow {
    -webkit-box-shadow: 0px 0px 22px 1px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 22px 1px rgba(0, 0, 0, 0.12);
}